{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2022",
    "baseUrl": "./",
    "paths": {
      "@/*": ["./src/*"]
    }
  },
  "module": {
    "type": "es6",
    "resolveFully": true
  },
  "sourceMaps": true
}
