{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "esnext",
    "baseUrl": "./",
    "paths": {
      "@/*": ["./src/*"]
    },
    "experimental": {
      "keepImportAttributes": true
    }
  },
  "module": {
    "type": "nodenext",
    "resolveFully": true
  }
}
